/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        padding:57px 40px;
    }
    .humbarger{
        display:none
    }
    /* banner */
    .banner-container{
        flex-direction: column;
        width: 80%;
        margin:50px auto;
        }
    .banner-images{
            margin-left:150px;
            margin-top:80px;
        } 
    .img-btn-1{  
        position: absolute;
        top: 55%;
        left:-15%;
    } 
    .img-btn-2{
        position: absolute;
        top: 12%;
        left:47%;
    }  
     /*habit section  */
     .card-container{
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        margin-top: 20px;
     }
     /* run section */
     .run-image > img{
        width: 100%;
        height: 80%;
        margin-left: -20px;
        margin-top: 50px;
     }

     /* BMI section */
.bmi-container > h1 {
    padding-left:20px;
}
.bmi-container > p{
    padding-left:20px;
}
.bmi-content{
    flex-direction: column;
    padding:0px;
}
.calculator-chart{
    padding-top: 40px;
    width:calc(100% - 20px);
    padding-left: 20px;
}
.calculate-bmi{
    padding-top: 40px;
    width:calc(100% - 20px);
    padding-left: 20px;
   }
   /* team member */
   .team-content{
    width: 80%;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 200px 200px;
    margin-left: 0;
    padding-left: 0;
    margin: 0 auto;
   }
   /* footer */
   footer > section{
    display: grid;
    grid-template-columns: 2fr;
   }
}
@media screen  and (min-width:992px) {
    .humbarger{
        display:none
    }
}




/* small device */
/* @media screen and (max-width:400px){
    .primary-btn, .banner-btn{
        padding:10px;
        width: 130px;
        height: 54px;
        background-color: rgba(5, 215, 100, 0.457);
    }
} */
@media screen and (max-width:506px){
    .run-image{
        margin-left:-.6rem;
    }
}
@media screen and (max-width:576px){
    .nav-item-container{
        display: none;
    }
    .humbarger{
        width: 45px;
        height: 45px;
    }
    .navbar{
    padding:57px 26px;
    justify-content:space-between;
}
/* bannner */
.banner-container{
    flex-direction: column;
    width: 80%;
    margin:20px auto;
    }
    .banner-description {
        width: 100%;
    }
    .shape{
        font-size: 4.8rem;
    }
.banner-description > h1{  
    font-size: 2.3rem;
    line-height:2.7rem;
} 
.banner-images{
    margin-top:80px;
    margin-right:30px;
    height: 480px;
    }
.banner-images > img{
    width: 100%;
    height: 100%;
}
.primary-btn, .banner-btn{
    padding: 10px 12px 10px 12px;
    width: 140px;
    height: 54px;
    font-size: 15px;
}
.img-btn-description > .description-1{
    font-size: 1.1rem;
    font-weight: 900;
}
.img-btn-description > .description-2{
    font-size: 12px;
}
.img-btn-1{  
    position: absolute;
    top: 45%;
    left:-1%;
    width: 155.74px;
    height: 72.58px;
    padding: 20px 20px;
} 
.img-btn-2{
    position: absolute;
    line-height:20px;
    font-size:1.8rem;
    left: 56%;
    top:12%;
    width: 145.91px;
    height: 74.09px;
} 
.img-btn-2 > span{
    font-size: .8rem;
}
/* habits */
.habit-container{
    padding-top: 60px;
}
.card-container{
    grid-template-columns:1fr;
    gap: 50px;
}
.habit-title{
    font-size: 2rem;
}
/* run section */
.run-container{
    flex-direction: column;
    width: 80%;
  
}
.run-description{
    width: 80%;
    padding: 30px;

}
.run-description > h1{
    font-size: 2rem;
}
.run-btn{
    width: 100%;
    padding: 15px;
}

.run-image{
    width: 100%;
    height: 100%;
}
.run-image > img{
    width: 85%;
    margin-left: 33px;
}
/* BMI section */
.bmi-container > h1{
    padding-left:30px;
    width: 100%;
    font-size: 2rem;
}
.bmi-container > p{
    padding-left:30px;
}
.bmi-content{
    flex-direction: column;
    padding:0px;
    padding-left: 20px;
    padding-top: 20px;
}
.calculate-bmi{
    width: 100%;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.calculator-chart{
    width: 100%;
}
input, .select-1{
    width: 140px;
}
.input-content{
    width: 190px;
}
.select-1{
    width: 150px;
}
.select-2{
    width: 314px;
}

/* team member */
.team-container{
    width:95%
}
.team-container > h1{
    font-size: 2rem;
}
.team-content{
    width:333px;
    grid-template-columns: 280px;
    grid-template-rows:repeat(6,280px);
    gap:20px;
    padding:20px;
}
/* unique membership section */
    .membership-container, .membership-content{
        flex-direction: column;
    }
    .membership-description{
        width: 100%;
    }
    .membership-description > h1{
        font-size: 2rem;
    }
    .card-2, .card-1{
        margin-left: 0px;
        margin-top: 40px;
    }
/* footer */
footer > section{
    flex-direction: column;
    padding: 0;
    width: calc(80% - 5px);
}
.footer-content-1 > h1{
    padding-top: 60px;
}
.footer-content-1 > p{
    padding-bottom: 40px;
}
.footer-content-2{
    margin-bottom:72px;
}
.copyright-text{
    text-align: start;
    margin-left: 55px;
}
}